<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.webproject.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.webproject.entity.User">
        <id column="db_userid" property="id" />
        <result column="db_pwd" property="pwd" />
        <result column="db_username" property="name" />
        <result column="db_phonnum" property="phone" />
        <result column="db_sex" property="sex" />
        <result column="db_flag" property="flag" />
        <result column="db_email" property="email" />
        <result column="db_address" property="address" />
        <result column="db_userage" property="userage" />
        <result column="db_birth" property="birth" />
    </resultMap>

    <select id="list" resultMap="BaseResultMap">
        select * from users;
    </select>
    
    <update id="update">
        update users set db_email=#{email},db_address=#{address},db_birth=#{birth} where db_username=#{username};
    </update>

    <select id="querybymes" resultMap="BaseResultMap">
        select * from users where db_username=#{name} and db_pwd=#{pwd}
    </select>

    <insert id="register">
        insert into users(db_username,db_pwd,db_phonnum,db_sex,db_flag,db_email,db_address,db_userage,db_birth)
        values (#{name},#{pwd},#{phone},#{sex},#{flag},#{email},#{address},#{userage},#{birth})
    </insert>


</mapper>
